@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color";

.formulario {
    width: 100%;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;

    label {
        flex: 0 0 10rem;
    }

    input {
        flex: 1;
        border: none;
        padding: calc(v.$separacion /4);
        border-radius: 1rem;

        &:disabled {
            background-color: color.adjust($color: v.$negro, $lightness: 30%);
            color: v.$blanco;
            cursor: not-allowed;
        }
    }

}
        
        